{
    "extends": [
      "react-app",
      "prettier"
    ],
    "rules": {
      "jsx-quotes": [
        1,
        "prefer-double"
      ],
      "indent": ["error", 4, { "SwitchCase": 1 }]
    },
    "plugins": [
      "prettier"
    ]
  }