.wrapper {
    position: absolute;
    display: flex;
    height: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: -125px;
    background: rgba(0, 0, 0, 0.8);
}

.form {
    position: relative;
    margin: 300px auto auto;
    padding: 32px 40px 40px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    
}

.form__close {
    position: absolute;
    top: 9px;
    right: 8px;
    cursor: pointer;
}
.form__content-wrapper {
    display: flex;
    flex-direction: column;
}

.form__header {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
}