.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../../assets/img/hero_background.png');
}

.hero__title {
    padding-top: 50px;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
}

.hero__text {
    max-width: 515px;
    margin: 14px 0 28px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

