.btn {
    padding: 10px 20px 12px;
    border-radius: 5px;
    cursor: pointer;
    outline: inherit;
    border: none;
}

.btn:active {
    box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

.btn_add {
    margin-bottom: 68px;
    background: white;
    border-radius: 4px;
}

.btn_add:hover {
    background: #EEEEEE;
}

.btn_save {
    margin-top: 32px ;
    line-height: 1.25rem;
    color: rgb(255, 255, 255);
    background:  rgb(79, 174, 51);
    align-self: center;
}

.btn_save:hover {
    background: #1D9C00;
}
